@using devspark_core_model.ContributionPortalModels
@model IEnumerable<CodeSnippetLibrary>

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row mb-4">
            <div class="col-6">
                <h4 class="fw-bold py-3"><span class="text-muted fw-light">Contribution Portal /</span> Code Snippets</h4>
            </div>
            <div class="col-6 text-end">
                <a href="@Url.Action("Create", "CodeSnippet", new { Area = "ContributionPortal"})" class="btn btn-primary btn-lg" type="button">Create new</a>
            </div>
        </div>

        <div class="row mb-5">
            @foreach (var snippet in Model)
            {
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">@snippet.Title</h5>
                            <h6 class="card-subtitle text-muted">@snippet.Language</h6>
                            <p class="card-text"><b>Description:</b> @snippet.Description</p>
                            <p class="card-text" id="p1_@snippet.Id" hidden>@snippet.Code</p>

                            <!-- Copy Code Link with data-code attribute -->
                            <a href="javascript:void(0);" class="card-link copy-code-link" onclick="copyToClipboard('#p1_@snippet.Id')">Copy-Code</a>
                            <a asp-action="Edit" asp-controller="CodeSnippet" asp-route-id="@snippet.Id" class="card-link">View</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <!-- jQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Copy to clipboard function -->
    <script>
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
            alert("Code copied to clipboard!"); // Optional feedback
        }
    </script>
}
