@using devspark_core_model.LearnerPortalModels

@model IEnumerable<Course>

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row mb-4">
        <div class="col-6">
            <h4 class="fw-bold py-3"><span class="text-muted fw-light">Learner Portal /</span> Courses</h4>
        </div>
        <div class="col-6 text-end">
            <a href="@Url.Action("CreateCourse", "Course", new { Area = "LearnerPortal"})" class="btn btn-primary btn-lg" type="button">Create New Course</a>
        </div>
    </div>

    <div class="row">

        <!--left card-->
        <div class="col-12">
            <div class="row">

                @foreach(var course in Model)
                {
                    <div class="col-md-6 col-lg-3 mb-3">
                        <div class="card text-center">
                            <div class="card-header"><span class="badge rounded-pill bg-warning">@course.ProgressStatusEnumDisplayName</span></div>
                            <div class="card-body">
                                <h5 class="card-title">@course.CourseName</h5>
                                <p class="card-text">@course.StudyPeriodDisplayName</p>
                                <a href="@Url.Action("ViewCourse", "Course", new {courseId = course.EncryptedKey})" class="btn btn-primary">Take Course</a>
                            </div>
                            <div class="card-footer text-muted">@course.CreatedDateTime.ToString("dd/MM/yyyy")</div>
                        </div>
                    </div>
                }

            </div>
        </div>

        <!--right card-->
        @* <div class="col-4">
            <div class="row">
                <div class="col-12 text-center">

                    <form asp-area ="LernerPortal" asp-controller="Dashboard" asp-action="CheckNotification" method="post">
                        <button type="submit" class="btn btn-primary btn-lg">Notificaion</button>
                    </form>

                    <form asp-area="LernerPortal" asp-controller="Dashboard" asp-action="GeneratePdfFromHtmlContent" method="post">
                        <button type="submit" class="btn btn-primary btn-lg">Generate pdf</button>
                    </form>

                    <form asp-area="LernerPortal" asp-controller="Dashboard" asp-action="SendEmail" method="post">
                        <button type="submit" class="btn btn-primary btn-lg">Send Email</button>
                    </form>
                </div>
            </div>
        </div> *@
        
    </div>

</div>
<!-- / Content -->