@using devspark_core_model.SystemModels
@model DevSparkUser

@{
    Layout = "~/Views/Shared/_AccessLayout.cshtml";
}

<div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
        <!-- Register Card -->
        <div class="card">
            <div class="card-body">
                <!-- Logo -->
                <div class="app-brand justify-content-center">
                    <img src="~/assets/images/logos/Shan D. Wanigasuriya.png" alt class="w-px-150 h auto" />
                </div>
                <!-- /Logo -->
                <h4 class="mb-2">Adventure starts here 🚀</h4>
                   <p class="mb-4">Make your development dream easy and fun!</p>

                <form asp-controller="Access" asp-action="Register" id="UserRegister" class="mb-3" method="POST">
                    <div class="mb-3">
                        <label asp-for="FirstName" class="form-label">@Html.DisplayNameFor(Model => Model.FirstName)</label>
                        <input type="text" asp-for="FirstName" class="form-control" id="FirstName" name="FirstName" placeholder="@Html.DisplayNameFor(Model => Model.FirstName)" autofocus />
                    </div>
                    <div class="mb-3">
                        <label asp-for="LastName" class="form-label">@Html.DisplayNameFor(Model => Model.LastName)</label>
                        <input type="text" asp-for="LastName" class="form-control" id="LastName" name="LastName" placeholder="@Html.DisplayNameFor(Model => Model.LastName)" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="PersonalEmail" class="form-label">@Html.DisplayNameFor(Model => Model.PersonalEmail)</label>
                        <input type="text" asp-for="PersonalEmail" class="form-control" id="PersonalEmail" name="PersonalEmail" placeholder="@Html.DisplayNameFor(Model => Model.PersonalEmail)" />
                    </div>
                    
                    <button type="submit" class="btn btn-primary d-grid w-100">Sign up</button>
                </form>

                <p class="text-center">
                    <span>Already have an account?</span>
                    <a href="@Url.Action("SignIn", "Access")">
                        <span>Sign in instead</span>
                    </a>
                </p>
            </div>
        </div>
        <!-- Register Card -->
    </div>
</div>